// Custom styles.
//.header {
//    background: url(/images/banner.jpg) center #000;
//    background-size: cover;
//}

.brand {
	background: transparent;
	color: #555;

	&:hover {
		color: #555;
	}
}